body {
  background-image: url('src/assets/V.jpg');
  background-size:2300px;
  background-position:center;
}

#topnavbar {
  display: flex;
  align-items: flex-start;
  height: 110px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius:  10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#linklist {
  padding-left: 8%;
  padding-top: 18px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-size: 25px;
  font-family: Metropolis;
  font-weight: bold;
  
}

#linklist a {
  text-decoration: none; 
  color: #eb1821;
}

#linklist a:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#logoNavbar {
  width: 110px;
  height: 105px;
  padding-left: 35px;
  border-radius: 50%;
  transition: transform 0.5s; 
}

#logoNavbar:hover {
  transform: scale(1.05);
  cursor:pointer;
}

#homeTextGroup {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin: 100px;
  color: white;
}

#trueBloodsHome {
  font-family: Metropolis;
  font-weight: bold;
  font-size: 70px;
}

#homeText {
  font-family: Metropolis;
}

#jumperPic {
  height: 300px;
  width: 250px;
  margin: 25px;
  border-radius: 15%;
  margin-right: -10px;
}

#proPic {
  height: 300px;
  width: 250px;
  margin: 25px;
  border-radius: 15%;
  margin-left: -10px;
}

#imageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#logoHome {
  height: 185px;
  width: 185px;
  background-color: white;
  border-radius: 40%;
  opacity: 90%;
  margin: 40px;
}


